<%- include('./partials/header.ejs')  %> 
<%- include('./partials/nav.ejs')  %> 

<div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum labore ut impedit maiores culpa natus iste repellat in possimus quis? Vero aperiam aliquid laboriosam suscipit consectetur labore optio, deserunt doloremque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum labore ut impedit maiores culpa natus iste repellat in possimus quis? Vero aperiam aliquid laboriosam suscipit consectetur labore optio, deserunt doloremque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum labore ut impedit maiores culpa natus iste repellat in possimus quis? Vero aperiam aliquid laboriosam suscipit consectetur labore optio, deserunt doloremque.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius repellendus atque, fugit earum, obcaecati minima quasi pariatur maiores alias natus quam distinctio ipsa accusamus tempora dicta temporibus iusto omnis exercitationem reprehenderit laborum, recusandae doloremque. Atque cum similique nostrum? Deserunt placeat, expedita saepe fugiat eveniet molestias suscipit excepturi corporis aperiam alias accusantium! Quisquam, facilis. Aliquid assumenda enim optio voluptas pariatur dolorem magni temporibus quibusdam error repellendus dignissimos vel hic id sapiente ex, minus laborum illum ipsum, asperiores, facere numquam. Culpa consequatur unde, velit facere animi incidunt nulla sequi libero odio a corrupti alias mollitia, beatae natus ea repudiandae veritatis tempora, aperiam illum quaerat cum nesciunt adipisci! Odio dolorem autem, debitis, similique ducimus asperiores amet ipsam aspernatur cupiditate velit corporis tempore suscipit accusantium sit possimus! Perferendis unde dolorum minima quasi facere officiis, sequi suscipit vero vel ea similique magnam, delectus officia maxime debitis quae maiores blanditiis veniam dolorem ex inventore amet fugit fuga! Eligendi nulla vero sapiente quasi necessitatibus rem voluptas itaque distinctio, eos ut odit, velit unde culpa aliquid autem nisi voluptates illum nam fugit cum. Ipsam qui sit quas at reiciendis odio nisi, similique dignissimos et officia non! Doloremque distinctio ut repellat quia, eos earum aspernatur maiores laboriosam sapiente vitae.</p>
</div>

<%- include('./partials/footer.ejs')  %> 
</body>
</html>